<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dots.aidlservice">

    <application>
        <service
            android:name=".ProductService"
            android:process=":remote"
            >

            <intent-filter>
                <action android:name="com.dots.aidlservice.ProductService"/>
            </intent-filter>
        </service>
    </application>

</manifest>